{% assign visitor_counter_url = "https://hits.sh/warner-ng.github.io.svg?style=flat&amp;label=Visitors&amp;color=5faff4&amp;labelColor=e0f2ff" %}
{% if page.url == "/" %}
<div class="visitor-counter" aria-label="Visitor counter">
   <img src="{{ visitor_counter_url }}" alt="Visitor counter" width="70" height="20" loading="lazy">
</div>
{% else %}
<div class="visitor-counter visitor-counter--hidden" aria-hidden="true">
   <img src="{{ visitor_counter_url }}" alt="" width="1" height="1" loading="lazy">
</div>
{% endif %}
