{% assign mapmyvisitors_id = "Tjc33Sst6LXMYMzbMcQWiUaKONlcKLpl77epqysiqP0" %}
{% if page.url == "/" %}
<div class="visitor-counter" aria-label="Visitor map">
   <script type="text/javascript" id="mapmyvisitors" src="https://mapmyvisitors.com/map.js?cl=5faff4&amp;w=300&amp;t=tt&amp;d={{ mapmyvisitors_id }}&amp;co=e0f2ff&amp;ct=55abf4"></script>
</div>
{% else %}
<div class="visitor-counter visitor-counter--hidden" aria-hidden="true">
   <img src="https://mapmyvisitors.com/map.png?d={{ mapmyvisitors_id }}&amp;cl=5faff4" alt="" width="1" height="1" loading="lazy">
</div>
{% endif %}
